.card {
	padding: 50px;
	border-radius: 50px;
	background-color: #1e1e1e;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	border: 2px solid #9925fe;
	box-shadow: #9925fe 0px 0px 10px 0px;
}

.text-colored {
	color: #9925fe;
}

.error-message{
	color: #fe25e1;
	font-size: 0.8rem;
}

.outlined {
	border: 1px solid #9925fe;
}

.status-button-group {
	display: flex;
	gap: 0.5rem;
}

.button-secondary {
	background-color: #a1a1a1 !important; /* Grigio chiaro */
	color: #3a3a3a !important; /* Testo grigio scuro */
	height: 45px;
}

.button-primary {
	background-color: #9925fe !important; /* Viola */
	color: #ffffff !important; /* Testo bianco */
	height: 45px;
}